:root {
    --color-azul: #0072ff;
    --color-celeste: #00c6ff;
    --color-blanco: #FFFFFF; 
}

@font-face {
    font-family: 'Peace Sans';
    src: url('fonts/PeaceSans.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #6BE1DE, #2C64D0);
    font-family: 'Peace Sans', sans-serif;
    width: 100%;
    height: 100%;   
}

header {
    display: flex;
    flex-direction: column;  
    align-items: center;    
    justify-content: center; 
    text-align: center;      
    height: 100vh;           
}

.imagen-con-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
}

.imagenLogo {
    height: 120px;
    width: auto;
    display: block;  
    margin-bottom: 10px; 
}
.titulo {
    color: var(--color-blanco);
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    text-align: center;
    margin-top: 0;
}

.texto {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    text-align: center;
}

.cta-button {
    background-color: var(--color-azul);
    color: var(--color-blanco);
    margin-top: 50px;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    justify-content: center;
    width: 100px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
}

.cta-button:hover {
    background-color: var(--color-celeste);
    transform: scale(1.05);
    transition: all .5s;
    transform: scale(1.1);
    box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}

.footer {
    background-color: var(--color-azul);
    color: var(--color-blanco);
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
    font-size: 14px;
    width: 100%;
}
